@charset "utf-8";
@import "~bulma/bulma";

span#status {
  display: inline-block;
  line-height: 2.5em;
  vertical-align: middle;
}

.searcher {
  margin: 15px 0 15px 0;
  padding: 10px;
}

.searcher:nth-child(even) {
  background-color: #fafafa
}

article.message .message-body {
  padding-top: 10px;
  padding-bottom: 10px;
}
